## This is a task for Final Module 4

This task has 13 activities about use notebook on Jupyter

_Data Science Languages_
- Python
- SQL
- R
- Julia
- JavaScript
- Scala
- Java
- Go

_Data Science Libraries_
- NumPy
- Keras
- Pandas
- PyTorch
- SciPy
- Scikit-Learn
- TensorFlow
- Matplotlib
- Seaborn

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Tableau|
|TensorFlow|
|BigML|
|Knime|
|RapidMiner|
|Excel|
|Apache Flink|
|PowerBI|
|Google Analytics|
|Python|
|R (RStudio)|
|Jupyter|
|MATLAB|

This example multiply and add 3 numbers

In [2]:
a = (3 * 4) + 5
a

17

In [3]:
minutes = 125
hours = minutes / 60
hours

2.0833333333333335

In this notebook we:
- Made a title markdown
- Made a simple text markdown
- Used lists
- Used tables
- Made a simple aritmetich operation

## Author
**_Luis Chaverra_**